body {
    background-color: var(--bg-dark);
    color: #ececec;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    width: 100px;
    height: 100%;
    background-color: var(--bg-darkest);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

a {
    color: var(--primary-color);
    transition: all 0.3s;
}

a:hover {
    color: var(--primary-color-hover);
}

.sidebar button {
    background-color: unset;
    border: unset;
    color: var(--sidebar-text-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.sidebar button i {
    margin-bottom: 6px;
    transition: all 0.3s;
}

.sidebar button:hover i {
    color: var(--primary-color);
    text-shadow: 0px 0px 20px var(--primary-color);
}

.sidebar a {
    background-color: unset;
    border: unset;
    color: var(--sidebar-text-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.sidebar a i {
    margin-bottom: 6px;
    transition: all 0.3s;
}

.sidebar a:hover i {
    color: var(--primary-color);
    text-shadow: 0px 0px 20px var(--primary-color);
}

.sidebar a:hover {
    color: var(--sidebar-text-color-hover);
}

.sidebar-list li {
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
}

.sidebar-list li:last-child {
    margin-bottom: 0;
}

.sidebar-list li.active button i {
    color: var(--primary-color) !important;
    text-shadow: 0px 0px 20px var(--primary-color) !important;
}
.sidebar-list li.active button {
    color: var(--sidebar-text-color-hover);
}

.sidebar-list li.active a i {
    color: var(--primary-color) !important;
    text-shadow: 0px 0px 20px var(--primary-color) !important;
}
.sidebar-list li.active a {
    color: var(--sidebar-text-color-hover);
}

.square-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.square-btn i {
    margin-bottom: 0 !important;
}

a.square-btn:hover i {
    color: white !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.semi-sidebar {
    background-color: var(--bg-darker);
    width: 240px;
    height: 100%;
    position: fixed;
    left: 100px;
    padding: 32px;
    transition: all 0.3s;
}

.category-list ul {
    padding-left: 12px;
    list-style: none;
}

.category-list li {
    margin-bottom: 14px;
    padding-left: 6px;
    position: relative;
    color: var(--sidebar-text-color);
    font-weight: 500;
}

.category-list li a {
    text-decoration: none;
    color: var(--sidebar-text-color);
}

.category-list li a:hover {
    color: var(--primary-color);
}

.category-list li button {
    background: unset;
    color: var(--sidebar-text-color);
    padding: 0px;
    border: 0px;
    text-align: left;
    font-weight: 500;
    transition: all 0.3s;
}

.category-list li button:hover {
    color: var(--primary-color);
}

.category-list li::before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    background: var(--primary-color);
    box-shadow: 0px 0px 20px var(--primary-color);
    border-radius: 50%;
    left: -13px;
    top: 9px;
}

.content {
    padding: 3%;
    margin-left: 340px;
    width: 100%;
    transition: all 0.3s;
}

.unusual-text {
    color: var(--primary-color);
    text-shadow: 0px 0px 10px #ce15377a;
    font-weight: 600;
}

.server-content {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.server {
    padding: 20px;
    background-color: var(--bg-darker);
    border-radius: 12px;
    position: relative;
}

.server img {
    width: 22rem;
}

.btn {
    font-weight: 500;
    box-shadow: unset !important;
    border-radius: 8px;
}

.btn:focus {
    box-shadow: unset !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-secondary {
    background-color: var(--bg-darkest) !important;
    border-color: var(--bg-darkest) !important;
    color: #7f8aa3 !important;
}

.text-muted {
    color: #7f8aa3 !important;
}

.server-map {
    position: absolute;
    right: 0;
    background: rgba( 0, 0, 0, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}

.text-primary {
    color: var(--primary-color) !important;
}

.statistic {
    background-color: var(--bg-darker);
    padding: 22px;
    border-radius: 12px;
}

.statistic-bg {
    background-color: var(--bg-dark);
    border: 1px solid var(--bg-darkest);
    padding: 18px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.statistic-icon {
    font-size: 20px;
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 25px;
    color: white;
    margin-bottom: 15px;
}

.statistic-number {
    font-weight: 800;
    color: white;
    text-shadow: 0px 0px 20px #ffffff4f;
    z-index: 1;
}

.data-table {
    background-color: var(--bg-darker);
    padding: 20px;
    border-radius: 12px;
}

.data-header h6 {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 12px;
}

.data-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--bg-darker);
    border: 1px solid var(--bg-darkest);
    border-radius: 10px;
    margin-top: 10px;
}

.data-column img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.data-content {
    background-color: var(--bg-dark);
    padding: 14px;
    border-radius: 10px;
    border: 1px solid var(--bg-darkest);
}

.gold {
    color: #fed33b;
    text-shadow: 0px 0px 15px rgba(254, 211, 59, 0.50);
}

.silver {
    color: #bac3c7;
    text-shadow: 0px 0px 15px rgb(186, 195, 199, 0.50);
}

.bronze {
    color: #a74e29;
    text-shadow: 0px 0px 15px rgb(167, 78, 41, 0.50);
}

.mini-profile img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
}

.mini-profile .profile-tag {
    font-size: 14px !important;
    margin-top: -6px;
    color: var(--sidebar-text-color) !important;
    font-weight: 500;
}

.mini-profile p {
    font-size: 18px;
    margin: 0;
}

.mini-profile {
    background-color: var(--bg-dark);
    padding: 12px;
    border: 1px solid var(--bg-darkest);
    border-radius: 12px;
    margin-top: 22px;
}

.text-secondary {
    color: var(--sidebar-text-color) !important;
}

.text-second {
    color: var(--sidebar-text-color-hover) !important;
}

hr {
    background-color: #545454 !important;
}

.mobile-collapse {
    display: none !important;
}

.profile-header {
    width: auto;
    height: 52vh;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #1a1f2a 0%, #1a1f2a7a 60%, #1a1f2a00 100%);
    top: 0;
    left: 0;
}

.profile-header img {
    width: 100%;
}

.profile-image {
    z-index: 1;
}

.profile-image img {
    border-radius: 14px;
    width: 150px;
    height: 150px;
}

.profile-image p {
    font-size: 14px;
}

.text-positive {
    color: #69c515;
}

.text-positive i {
    color: white;
}

.profile-badge {
    padding: 6px 22px;
    border-radius: 40px;
    margin-top: 22px;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--primary-color);
    box-shadow: 0px 0px 8px var(--primary-color);
    z-index: 1;
}

.profile-badge:first-child {
    margin-left: 22px;
}

.profile-badges {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.profile-stats {
    background-color: var(--bg-darkest);
    margin: 26px;
    margin-bottom: 0;
    padding: 26px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-top: 0;
}

.profile-about {
    background-color: var(--bg-dark);
    padding: 30px;
    margin: 0 26px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border: 1px solid var(--bg-darkest);
    border-top: 0;
}

.profile-about li i {
    width: 35px;
    text-align: center;
}

section.profile {
    background: var(--bg-darker);
    padding-bottom: 30px;
    border-radius: 12px;
    border: 1px solid var(--bg-darkest);
}

.played-server {
    background-color: #1b212d;
    border: 1px solid var(--bg-darkest);
    padding: 18px;
    border-radius: 12px;
    margin-top: 16px;
    transition: all 0.3s;
}

.played-server:hover {
    background-color: var(--bg-darkest);
}

.played-server .btn {
    font-size: 14px;
}

.custom-input {
    border: none;
    padding: 16px 20px;
    width: 100%;
    background-color: var(--bg-dark);
    color: white;
    outline: none;
    border-radius: 10px;
    font-weight: 500;
    border: 2px solid var(--bg-dark);
    transition: all 0.3s;
}

.custom-input:focus {
    border: 2px solid var(--bg-darkest);
}

.login-form {
    background-color: var(--bg-darker);
    border-radius: 12px;
    padding: 60px 45px;
}

.modal-content {
    background-color: var(--bg-darker) !important;
    border: 1px solid var(--bg-darkest) !important;
}

.border-color {
    border-color: var(--bg-darkest) !important;
}

.modal-header {
    border-color: var(--bg-darkest) !important;
}

.modal-footer {
    border-color: var(--bg-darkest) !important;
}

.kraier-header {
    background-color: var(--bg-darker);
    border-color: var(--bg-darkest);
    border-bottom: 1px solid var(--bg-darkest) !important;
}

.kraier-card-section {
    font-weight: 500;
}

.kraier-card-section:last-child {
    border: 0 !important;
}

.icon-style {
    color: var(--primary-color);
    text-shadow: 0px 0px 20px var(--primary-color) !important;
}

.icon-style-green {
    color: green;
    text-shadow: 0px 0px 20px green !important;
}

.bg-secondary {
    background-color: var(--bg-darker) !important;
}

.bg-second {
    background-color: var(--bg-darkest) !important;
    font-weight: 500;
    color: #7485ab;
}

.fw-500 {
    font-weight: 500 !important;
}

/*.paginate_button {*/
/*    cursor: pointer;*/
/*    background-color: var(--bg-darkest);*/
/*    border: 1px solid var(--border-color);*/
/*    color: white;*/
/*    padding: .5rem .75rem;*/
/*    text-decoration: none;*/
/*}*/
/*.paginate_button.previous {*/
/*    border-top-left-radius: 6px;*/
/*    border-bottom-left-radius: 6px;*/
/*}*/
/*.paginate_button.current {*/
/*    background-color: var(--primary-color);*/
/*    border-color: var(--primary-color);*/
/*    color: white;*/
/*}*/
/*.paginate_button.next {*/
/*    border-top-right-radius: 6px;*/
/*    border-bottom-right-radius: 6px;*/
/*}*/
/*.paginate_button:first-child {*/
/*    border-right: 0 !important;*/
/*}*/
/*.paginate_button:last-child {*/
/*    border-left: 0 !important;*/
/*}*/
/*.dataTables_wrapper {*/
/*    position: relative;*/
/*}*/
/*.dataTables_paginate {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*}*/
/*.dataTables_length {*/
/*    position: absolute;*/
/*    top: 0;*/
/*}*/
/*.table > :not(caption) > * > * {*/
/*    padding: 0.75rem 0.75rem !important;*/
/*}*/
/*.ellipsis {*/
/*    padding: .5rem;*/
/*    border-top: 1px solid var(--border-color);*/
/*    border-bottom: 1px solid var(--border-color);*/
/*    border-right: 1px solid var(--border-color);*/
/*}*/

/*.dataTables_filter input {*/
/*    box-shadow: unset;*/
/*    background-color: var(--bg-darkest);*/
/*    border: 1px solid var(--border-color);*/
/*    padding: 10px;*/
/*    border-radius: 6px;*/
/*    color: white;*/
/*}*/

/*.dataTables_filter input:focus-visible {*/
/*    outline: none;*/
/*}*/

/*.dataTables_length select {*/
/*    background-color: var(--bg-darkest);*/
/*    border: 1px solid var(--border-color);*/
/*    padding: 8px;*/
/*    color: white;*/
/*    border-radius: 6px;*/
/*    margin-left: 6px;*/
/*    margin-right: 6px;*/
/*}*/

/*div.dataTables_wrapper div.dataTables_info {*/
/*    padding: 0 !important;*/
/*}*/

/*.table>:not(caption)>*>* {*/
/*    padding: 0.5rem 0.5rem;*/
/*    background-color: #161b25;*/
/*    border: 1px solid #222837 !important;*/
/*    border-bottom-width: 1px;*/
/*    color: #7f8aa3 !important;*/
/*    font-weight: 500;*/
/*    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);*/
/*}*/

/*.table>:not(:first-child) {*/
/*    border-top: 0;*/
/*}*/

.page-link {
    background-color: var(--bg-darkest);
    border-color: var(--bg-darkest);
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.475rem;
    height: 2.5rem;
    min-width: 2.5rem;
    font-weight: 500;
    font-size: 1.075rem;
}

.page-link:hover {
    z-index: 2;
    color: #0a58ca;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.page-link:focus {
    box-shadow: unset !important;
    background-color: var(--bg-darkest);
    border-color: var(--bg-darkest);
}

.disabled .page-link {
    background-color: var(--bg-darker) !important;
    border-color: var(--bg-darker) !important;
}

.next .page-link {
    color: var(--sidebar-text-color) !important;
    background-color: unset !important;
    border: 0 !important;
    min-width: 0 !important;
}

.pagination {
    gap: 14px !important;
}

.previous .page-link {
    background-color: unset !important;
    border: 0 !important;
    color: var(--sidebar-text-color) !important;
    min-width: 0 !important;
}

.card {
    background-color: var(--bg-darker) !important;
    border-radius: 10px;
}

td {
    padding: 14px 20px !important;
}

th {
    padding: 14px 20px !important;
}

.dataTables_info {
    font-weight: 500;
}

.form-select {
    background-color: var(--bg-darkest) !important;
    border-color: var(--bg-darkest) !important;
    color: white;
}

.form-control {
    background-color: var(--bg-darkest) !important;
    border-color: var(--bg-darkest) !important;
    color: white;
    font-weight: 500;
}

.form-select:focus {
    box-shadow: unset !important;
}
.form-control:focus {
    box-shadow: unset !important;
    color: white !important;
}

.table-dark {
    --bs-table-bg: #161b25;
    border-color: #222837;
    color: #7f8aa3;
}

.card-dark {
    background-color: var(--bg-dark) !important;
    border: 1px solid var(--bg-darkest) !important;
}

.card-dark .table>:not(:first-child) {
    border-top: unset !important;
}

.ban-list tbody tr:last-child td {
    border-bottom-width: 0px !important;
}

.card-image {
    overflow: hidden;
    height: 310px;
    display: flex;
    justify-content: center;
}

.card-image img {
    width: 100%;
}

.shop-card {
    overflow: hidden;
    border-radius: 10px;
}
